* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* SECTION HEADER */

.navbar{
    background-color: #0c0c0c;
    padding: 20px 20px;
}

.logo-navbar {
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
}

.logo-navbar:hover {
    color: #ffffff;
}

.container-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links-navbar{
    width: 100%;
    color: #ffffff;
}

.links-navbar a:hover{
    width: 100%;
    color: #ffffff;
    border-bottom: solid 1px #ffffff;
}

.icons-navbar{
    margin: 20px 0 0 0;
}

.search{
    border-radius: 20px;
}

.link-navbar {
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    .navbar{
        background-color: #0c0c0c;
        height: 150px;
        padding: 20px 20px;
    }

    .logo-navbar {
        width: calc(20% - 20px);
        display: flex;
        justify-content: center;
    }

    .container-navbar {
        width: alc(80% - 20px);
    }

    .container-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .links-navbar{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .search-navbar{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .icons-navbar{
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
    }
}

/* SECTION COMPANY */

.company-container {
    background-color: #0c0c0c;
}

@media screen and (min-width: 320px) {
    .company-container img{
        width: 4rem;
    }

    .company-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem 0rem;
    }
}

@media screen and (min-width: 768px) {
    .company-container img{
        width: 5.5rem;
    }
}

@media screen and (min-width: 1300px) {
    .company-container img{
        width: 6.5rem;
    }
}

/* SECTION MOBILE */

/* SECTION */

h4 {
    background-color: #0c0c0c;
    color: white;
    padding-left: 2rem;
    padding-top: 1.5rem;
    font-weight: bold;
    margin-bottom: 0rem;
}

@media screen and (min-width: 320px) {
    .iphone-banner {
        display: none;
    }

    .card .price-mobile {
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .iphone-banner {
        display: initial;
    }
    
    .iphone-banner-movil {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .mobile-container .card-mobile {
        margin: 1rem;
    }
}

/* SECTION WATCH */

.card .price-watch {
    width: 50%;
}

.card-text, .keys {
    font-size: .9rem;
}

@media screen and (min-width: 320px) {
    .card {
        width: 13rem;
    }
    
    .banner {
        width: 100%;
        object-fit: cover;
    }

    .xiaomi-banner-laptop {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .xiaomi-banner-laptop {
        display: initial;
    }

    .xiaomi-banner-movil {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .card {
        width: 15rem;
    }
}


/* SELECTION TELEVISION */

.product-container {
    background-color: #0c0c0c;


}

.card {
    background-color: #232323;
    color:white;
    transition: 0.3s;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 1px  lightgrey;
}




.price {
    font-weight: bold;
    border: 0.1rem solid #7532F9;
    padding: 0.3rem ;
    width: 35%;
}

.btn {
    background: linear-gradient(to right, #E100FF, #7F00FF); 
    border: 0.1rem solid #E100FF;
    font-weight: bold;
    
    
}

.btn:hover {
    background: linear-gradient(to right, #bc4e9c, #f80759);
    border: 0.1rem solid #f80759;
}

@media screen and (min-width: 320px) {
    .product-container {
        display: flex;
        flex-direction: column;
        align-items:center ;
        padding-top: 2rem;  
    }

    .card {
        margin-bottom: 1rem;
    }

     
    
}

@media screen and (min-width: 768px) {
    .product-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }

    .card {
        margin-bottom: 2rem;
    }
}

/* SECTION FORM CONTACT */

.contact-container {
    background-color: #0c0c0c;
}

.contact-container form input, textarea {
    background-color: #2e2e2e;
    color: white;
}

.contact-container form input:focus, textarea:focus {
    box-shadow: 0 0 2px 1px #7F00FF;
}

.contact-container form .btn-send {
    background-color: #7F00FF;
    color: white;
}

@media screen and (min-width: 320px) {
    .title-contact {
        font-size: 1.8rem;
        padding: 2rem 0rem;
    }

    .contact-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
    }

    .contact-container form {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-container form input, textarea {
        width: 100%;
        border-radius: .3rem;
        outline: none;
        resize: none;
        border: none;
        margin: .8rem 0rem;
        padding: .8rem;
    }
}

@media screen and (min-width: 1024px) {
    .contact-container form {
        width: 65%;
    }
}

/* SECTION FOOTER */
  
.footer-title  p{
    font-family: 'Orbitron', sans-serif;
    color: white; 
    font-size: 2rem;
  }
  
.copyright {
    border-top: 1px solid;
    color:white; 
    padding: 1rem;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    text-align: center;
    
}

.copyright-container p {
    margin-bottom: 0rem;


}







.footer-container {
    
   background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
   color: white;
    
}



@media screen and (min-width: 320px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
          
    }

    .members {
       font-size: 1.1rem;

    }
    

}



@media screen and (min-width: 1024px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-height: 30vh;
        

    }

    .link-container{
        display: flex;

    }

}

.credit-card img {
    width: 3.2rem;

}
    

.linkedin {
    width: 1.5rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
  
    
     
} 

.github {
    width: 1.5rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    
   
}


