* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* SECTION COMPANY */

.company-container {
    background-color: #0c0c0c;
}

@media screen and (min-width: 320px) {
    .company-container img{
        width: 4rem;
    }

    .company-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 2rem 0rem;
    }
}

@media screen and (min-width: 768px) {
    .company-container img{
        width: 5.5rem;
    }
}

@media screen and (min-width: 1300px) {
    .company-container img{
        width: 6.5rem;
    }
}

/* SECTION MOBILE */

h4 {
    background-color: #0c0c0c;
    color: white;
    padding-left: 2rem;
    padding-top: 1.5rem;
    font-weight: bold;
    margin-bottom: 0rem;
}

@media screen and (min-width: 320px) {
    .iphone-banner {
        display: none;
    }

    .card .price-mobile {
        width: 50%;
    }
}

@media screen and (min-width: 900px) {
    .iphone-banner {
        display: initial;
    }
    
    .iphone-banner-movil {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .mobile-container .card-mobile {
        margin: 1rem;
    }
}

/* SECTION WATCH */

.card .price-watch {
    width: 50%;
}

.card-text, .keys {
    font-size: .9rem;
}

@media screen and (min-width: 320px) {
    .card {
        width: 13rem;
    }
    
    .banner {
        width: 100%;
        object-fit: cover;
    }

    .xiaomi-banner-laptop {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .xiaomi-banner-laptop {
        display: initial;
    }

    .xiaomi-banner-movil {
        display: none;
    }
}

@media screen and (min-width: 1300px) {
    .card {
        width: 15rem;
    }
}


/* SELECTION TELEVISION */

.product-container {
    background-color: #0c0c0c;


}

.card {
    background-color: #232323;
    color:white;
    transition: 0.3s;

}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 1px  lightgrey;
}




.price {
    font-weight: bold;
    border: 0.1rem solid #7532F9;
    padding: 0.3rem ;
    width: 35%;
}

.btn {
    background: linear-gradient(to right, #E100FF, #7F00FF); 
    border: 0.1rem solid #E100FF;
    font-weight: bold;
    
    
}

.btn:hover {
    background: linear-gradient(to right, #bc4e9c, #f80759);
    border: 0.1rem solid #f80759;
}

@media screen and (min-width: 320px) {
    .product-container {
        display: flex;
        flex-direction: column;
        align-items:center ;
        padding-top: 2rem;  
    }

    .card {
        margin-bottom: 1rem;
    }

     
    
}

@media screen and (min-width: 768px) {
    .product-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }

    .card {
        margin-bottom: 2rem;
    }
}



  
.footer-title  p{
    font-family: 'Orbitron', sans-serif;
    color: white; 
    font-size: 2rem;
  }
  
.copyright {
    border-top: 1px solid;
    color:white; 
    padding: 1rem;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    text-align: center;
    
}

.copyright-container p {
    margin-bottom: 0rem;


}







.footer-container {
    
   background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
   color: white;
    
}



@media screen and (min-width: 320px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
          
    }

    .members {
       font-size: 1.1rem;

    }
    

}



@media screen and (min-width: 1024px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-height: 30vh;
        

    }

    .link-container{
        display: flex;

    }

}

.credit-card img {
    width: 3.2rem;

}
    

.linkedin {
    width: 1.5rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
  
    
     
} 

.github {
    width: 1.5rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
    
   
}


